/*body design */
body{
    display: flex;
    background: #f9c49a;
    width: 100%;
    margin: 0;
}

#bot{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height:80%;
    background: #ec823a;
}

/* header design */
.grandPyIcon{
    width: 30px;
    height: 60px;
}

.header h1{
    color: black;
}
