/*body design */
body{
    display: flex;
    background: #f9c49a;
    width: 100%;
    margin: 0;
}

#bot{
    justify-content: center;
    align-items: center;
    width: 80%;
    height:80%;
    background: #ec823a;
}

/* header design */
.grandPyIcon{
    width: 150px;
    height: 200px;
}
.header h1{
    color: blue;
}
