/*body design */
body, html{
    background: #eed999;
    width: 100%;
    height: 100%;
    margin: 0;
}

#bot{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:150px 600px 50px;
    row-gap: 50px;
    grid-template-areas: 
        "header header header header"
        ". main main ."
        "footer footer footer footer";   
}

/* header section design */
header{
    grid-area: header;
    color: #8C7446;
}

.header, #container, .userSentences, #grandPyBot, 
.search, .grandPyBot, .btn, .footer, i{
    display: flex;
}

.header{
    justify-content: center;
    height: 100%;
}

h1, .grandPyIcon, #grandPyBot, .btn, i{
    align-self: center;
}

.grandPyIcon{
    height: 100px;
    width: 70px;
    justify-content: start;
    margin-right: 50px;
}

.header h1{
    margin-left: 50px;
    font-size: 2.2rem;
    text-align: right;
}


/* chat section design */
p{
    color: #140b25;
    margin-top: 0;
    margin-bottom: 3px;
    text-align: justify;
    margin-right: 5px;
}

p:last-of-type{
    margin-bottom: 1px;
    margin-left: 25px;
}

#container{
    background: #0D0D0D;
    grid-area: main;
    flex-direction: column;
    align-content: space-between;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 10px 5px 10px #8c7446;
    opacity: 0.8;
}

.sentences{
    border-radius: 20px;
    width: 100%;
    height: 80%;
    margin: 0 -10px;
    overflow: auto;
    scroll-behavior: smooth;
}

.sentences::-webkit-scrollbar{
    width: 10px;
    background-color: #0D0D0D;
    opacity: 0.5;
    border-radius: 20px;
}

.sentences::-webkit-scrollbar-thumb{
    background-color: #8c7446;
    border-radius: 20px;
}


.papySentences{
    width: 400px;
}

.papySentence{
    background: linear-gradient(to left top, #f2f2f2, #F2D888, #bf9d5e, #8c7446);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(140, 116, 70, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 30px 40px;
    max-width: 600px;
    padding: 15px;
    position: relative;
}

.userSentences{
    justify-content: flex-end;
}

.userSentence{
    background: linear-gradient(to left top, #BF9663, #F2A057, #8C2703, #700c03);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(140, 116, 70, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 30px 40px;
    min-width: 400px;
    max-width: 600px;
    padding: 15px;
    position: relative;
}

#map{
    height: 400px;
    width: 600px;
}

.arrow{
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(140, 116, 70, 0.2);
    bottom: -25px;
    position: absolute;
    right: 15px;
}

.arrow::before{
    border-left: 23px solid transparent;
    border-top: 23px solid #f8eed1;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}

.arrowLeft{
    border-right: 21px solid transparent;
    border-top: 20px solid rgba(140, 116, 70, 0.2);
    bottom: -25px;
    position: absolute;
    left: 15px;
}

.arrowLeft::before{
    border-right: 23px solid transparent;
    border-top: 23px solid #c27339;
    bottom: 2px;
    content: "";
    position: absolute;
    left: 5px;
}

.botQuestion{
    height: 20%;
    display: flex;
}

/* search bar design */

#grandPybot{
    width: 85%;
    height: 70%;
    background-color:rgba(140, 116, 70, 0.2);
    color: #BF9D5E;
    border: 4px solid rgba(140, 116, 70, 0.2);
    border-radius: 10px;
    border-style: inset;
    margin-right: 30px;
}

.search{
    height: 100%;
    width: 100%;
}

.grandPyBot{
    width: 100%;
    height: 40%;
    margin: auto 30px;
}

.url{
    color: #140b25;
    font-weight: 800;
    font-size: 1rem;
}

.btn{
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 70%;
    background-color: #bf9d5e;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(122, 102, 65, 0.2) ;
}

.btn:hover{
    background-color: #947a49;
}

/* footer design */
footer{
    grid-area: footer;
}

.footer{
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-top: 40px;
}

.name{
    font-weight: 900;
    margin-right: 30px;
    color:#8c7446;
}

i{
    margin-right: 15px;
    color: #8c7446;
    font-size: 1.8rem;
}

@media (max-width:1400px){
    .papySentence, #map{
        max-width: 500px;
    }

    .footer{
        margin-top: 0;
    }
}

@media (max-width:1220px){
    .papySentence, #map{
        max-width: 400px;
    }
}

@media(max-width:768px){
    #bot{
        grid-template-rows: 150px 700px 60px;
        row-gap: 30px;
        grid-template-areas: 
            "header header header header"
            "main main main main"
            "footer footer footer footer";
    }
    .sentences{
        height: 90%;
    }

    .grandPyIcon{
        height: 80px;
        width: 50px;
        margin-right: 10px;
    }
    
    .header h1{
        font-size: 1.8rem;
    }

    #container{
        margin: 0 65px;
    }

    .papySentence{
        margin: 30px 50px;
    }

    .userSentence{
        min-width: 250px;
        max-width: 400px;
        margin: 30px;
    }

    #grandPyBot{
        margin-right: 20px;
        width: 80%;
    }

    .btn{
        width: 15%
    }
}

@media(max-width: 375px){
    #bot{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px 600px 30px;
        row-gap: 15px;
        grid-template-areas: 
            "header header"
            "main main"
            "footer footer";
    }

    .grandPyIcon{
        height: 60px;
        width: 40px;
        margin-right: 0;
        margin-left: 15px;
    }

    #container{
        margin: 0 20px;
    }

    .header h1{
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        margin: 0 15px;
    }

    .papySentences{
        width: 300px;
    }

    p:last-of-type{
        margin-bottom: 1px;
        margin-left: px;
    }

    .papySentence{
        margin: 30px;
        max-width: 300px;
        line-height: 1.2;
    }

    .userSentence{
        min-width: 150px;
        max-width: 300px;
        line-height: 1.2;
    }

    .url{
        font-size: 0.5rem;
    }

    #map{
        height: 300px;
        width: 230px;
    }

    #grandPyBot{
        margin-right: 20px;
    }

    .btn{
        width: 25%;
    }

    .footer{
        margin-top: 10px; 
    }

    .name{
        font-size: 0.9rem;
    }

    i{
        font-size: 1.2rem;
    }
}

@media (max-height: 667px) and (max-width:375px){ 
    #bot{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 500px 30px;
    row-gap: 15px;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }

    .grandPyIcon{
        height: 60px;
        width: 40px;
        margin-right: 0;
        margin-left: 15px;
    }

    #container{
        margin: 0 20px;
    }

    .header h1{
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        margin: 0 15px;
    }

    .papySentences{
        width: 300px;
    }

    .papySentence{
        margin: 30px;
        max-width: 300px;
        padding: 5px;
        font-size: 1.15rem;
    }

    .userSentence{
        min-width: 150px;
        max-width: 300px;
        line-height: 1.2;
    }

    .url{
        font-size: 0.5rem;
    }

    #map{
        height: 300px;
        width: 230px;
    }

    #grandPyBot{
        margin-right: 20px;
    }

    .btn{
        width: 25%;
    }

    .footer{
        margin-top: 10px; 
    }

    .name{
        font-size: 0.9rem;
    }

    i{
        font-size: 1.2rem;
    }
}

@media(max-width:1015px){
    #bot{
        row-gap: 40px;
    }

    .papySentence, #map{
        max-width: 450px;
    }

    .url{
        font-size: 0.8rem;
    }

    .btn{
        width: 20%;
    }
}

@media (max-height:736px){
    #bot{
        grid-template-rows: 80px 550px 30px;
        row-gap: 30px;
    }
    .header h1{
        font-size: 1.5rem;
        text-align: center;
        margin: 0 25px;
    }

    .grandPyIcon{
        margin-right: 0;
        margin-left: 20px;
    }

    #container{
        margin: 0 25px;
    }

    .papySentences{
        width: 300px;
    }

    .papySentence{
        font-size: 1.1rem;
        line-height: 1.2;
        padding: 5px;
        margin: 30px;
        max-width: 300px;
    }

    .userSentence{
        min-width: 150px;
        max-width: 300px;
        line-height: 1.2;
    }

    .url{
        font-size: 0.65rem;
    }
    
    #map{
        width: 270px;
    }

    .btn{
        width: 25%;
    }

    .footer{
        margin-top: 0;
    }

    i{
        font-size: 1.4rem;
    }
    
}

@media (max-height: 667px) and (max-width: 375px){
    #bot{
        grid-template-rows: 80px 480px 30px;
    }

    #map, .papySentence{
        max-width: 240px;
    }
}

@media (max-height: 640px) and (max-width: 360px){
    #bot{
        grid-template-rows: 80px 450px 30px;
    }

    p:last-child{
        margin-left: 5px;
    }

    .papySentences{
        width: 280px;
    }

    #map, .papySentence{
        max-width: 220px;
    }
}
