/*body design */
body, html{
    background: #F2D888;
    width: 100%;
    height: 100%;
    margin: 0;
}

#bot{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:150px 600px 50px;
    row-gap: 50px;
    grid-template-areas: 
        "header header header header"
        ". main main ."
        "footer footer footer footer";   
}

/* header section design */
header{
    grid-area: header;
    color: #8C7446;
}

.header{
    display: flex;
    justify-content: center;
    height: 100%;
}

.grandPyIcon{
    height: 100px;
    width: 70px;
    justify-content: start;
    margin-right: 50px;
    align-self: center;
}

.header h1{
    margin-left: 50px;
    align-self: center;
    font-size: 2.2rem;
    text-align: right;
}


/* chat section design */
p{
    color: #140b25;
    margin-top: 0;
    margin-bottom: 3px;
}

p:last-of-type{
    margin-bottom: 1px;
    margin-left: 25px;
}

#container{
    background: #0D0D0D;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 10px 5px 10px #8c7446;
    opacity: 0.8;
}

.sentences{
    width: 100%;
    height: 80%;
}

.papySentence{
    background: linear-gradient(to left top, #f2f2f2, #F2D888, #bf9d5e, #8c7446);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(140, 116, 70, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 30px 40px;
    max-width: 35%;
    padding: 15px;
    position: relative;
}

.userSentence{
    background: linear-gradient(to left top, #f2f2f2, #F2D888, #bf9d5e, #8c7446);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(140, 116, 70, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 30px 40px;
    max-width: 35%;
    padding: 15px;
    position: relative;
}

.arrow{
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(140, 116, 70, 0.2);
    bottom: -25px;
    position: absolute;
    right: 15px;
}

.arrow::before{
    border-left: 23px solid transparent;
    border-top: 23px solid #f8eed1;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}

.botQuestion{
    height: 20%;
    display: flex;
}

/* search bar design */

#grandPybot{
    width: 85%;
    height: 70%;
    display: flex;
    align-self: center;
    background-color:rgba(140, 116, 70, 0.2);
    color: #BF9D5E;
    border: 4px solid rgba(140, 116, 70, 0.2);
    border-radius: 10px;
    border-style: inset;
    margin-right: 30px;
}

.search{
    display: flex;
    height: 100%;
    width: 100%;
}

.grandPyBot{
    display: flex;
    width: 100%;
    height: 40%;
    margin: auto 30px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 12%;
    height: 70%;
    background-color: #bf9d5e;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(122, 102, 65, 0.2) ;
}

/* footer design */
footer{
    grid-area: footer;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-top: 40px;
}

.name{
    font-weight: 900;
    margin-right: 30px;
    color:#8c7446;
}

i{
    display: flex;
    align-self: center;
    margin-right: 15px;
    color: #8c7446;
    font-size: 1.8rem;
}


