/*body design */
body, html{
    background: #bbbfca;
    width: 100%;
    height: 100%;
    margin: 0;
}

#bot{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:150px 600px 50px;
    row-gap: 50px;
    grid-template-areas: 
        "header header header header"
        ". main main ."
        "footer footer footer footer";   
}

/* header section design */
header{
    grid-area: header;
    color: #151924;
}

.header{
    display: grid;
}

.grandPyIcon{
    height: 120px;
    width: 80px;
    grid-column: 1 / span 1;
    grid-row: 1 /span 1;
    justify-self: center;
    align-self: center;
}

.header h1{
    grid-column: 2 / span 3;
    display: flex;
    margin-left: 17%;
    align-self: center;
    font-size: 2.2rem;
    text-align: right;
}


/* chat section design */
p{
    color: #140b25;
    margin-top: 0;
    margin-bottom: 3px;
}

p:last-of-type{
    margin-bottom: 1px;
    margin-left: 25px;
}

#container{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 10px 5px 10px #382a55;
    background: #151924;
    opacity: 0.9;
}


.papySentence{
    background: linear-gradient(to left top, #cfcbd2, #cb98ed, #8b63da, #3c21b7);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(248, 159, 197, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 30px 40px 37%;
    max-width: 400px;
    padding: 15px;
    position: relative;
}

.arrow{
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(221, 68, 134, 0.2);
    bottom: -25px;
    position: absolute;
    right: 15px;
}

.arrow::before{
    border-left: 23px solid transparent;
    border-top: 23px solid #cfcbd2;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}

.botQuestion{
    height: 20%;
    display: flex;
    justify-content: space-between;
}

/* search bar design */

#grandPybot{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}



footer{
    grid-area: footer;
}

i{
    color: #000000;
    font-size: 2rem;
}


