<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title>{{title}}GrandPy Bot</title>
        {% else %}
        <title>Welcome to GrandPy Bot Site</title>
        {% endif %}
        <script src="https://kit.fontawesome.com/d9c3aa8dec.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" href="https://pixy.org/src/454/4549807.png">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <section id="bot">
            <header>
                <div class="header"> 
                    <img class="grandPyIcon" src="https://pixy.org/src/454/4549807.png" alt="grandfather drawing">
                    <h1>Bienvenue sur le site de GrandPy Bot!</h1>      
                </div>
            </header>{% block content %}{% endblock %}
            <footer>
                <div class="footer">
                    <div class="name">Gaëlle Lefeuvre</div>
                    <div class="gitLink">
                        <a href="https://github.com/Melissendra/grandPyBot"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/gaellelefeuvre/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </footer>
        </section>
    </body>
</html>