{% extends "base.html" %}

{% block content %}
<div id="container">
    <div class="papySentence">
        <span class="sentence">Que puis-je faire pour toi?</span>
    </div>
    <div class="botQuestion">
        <form action="" method="get">
            <label for="grandpyBot" id="grandPybot">
                <input type="text" id="grandPybot" placeholder="Recherche">
                <button type="submit" class="btn">Entrer</button>
            </label>
        </form>
    </div>
</div>
{% endblock%}
