{% extends "base.html" %}

{% block content %}
<div id="container">
    <div class="papySentence">
        <p classe="name"><strong>Grand Py</strong></p>
        <p class="sentence">Que puis-je faire pour toi?</p>
        <div class="arrow"></div>
    </div>
    <div class="botQuestion">
        <form class="search" action="" method="get">
            <label for="grandpyBot" id="grandPybot">
                <input type="text" id="grandPybot" placeholder="Recherche">
                <button type="submit" class="btn">Entrer</button>
            </label>
        </form>
    </div>
</div>
{% endblock%}
