{% extends "base.html" %}

{% block content %}
<div id="container">
    <div class="sentences">
        <div class="papySentence">
            <p><strong>Grand Py</strong></p>
            <p class="sentence">Que puis-je faire pour toi?</p>
            <div class="arrow"></div>
        </div>
    </div>
    <div class="botQuestion">
        <form class="search" action="" method="get">
            <label for="grandPyBot" class="grandPyBot">
                <input type="text" id="grandPybot" name="grandPyBot" placeholder="Recherche">
                <button type="submit" class="btn">Envoyer</button>
            </label>
        </form>
    </div>
</div>
{% endblock%}
